<td><%= link_to "#{user.first_name} #{user.last_name}", user_path(user) %></td>
<td><%= user.email %></td>
<td><%= user.phone %></td>
<td><%= user.department %></td>
<td><%= user.organization.name %></td>